.tbody {
    display: flex;
    align-items: stretch;
}

.shopping-cart-table {
    margin-top: 45px;
    margin-left: 450px;
}
  
.shopping-cart-table .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
}
  
.shopping-cart-table button {
    margin-left: 5px;
    margin-top: 5px;
}

.button {
    background-color: #10d1a5;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 16px 20px;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 3px;
    margin-top: 110px;
    margin-left: 9px;
  
    &:hover {
      background-color: #efefef;
      color: #10d1a5;
      cursor: pointer;
    }
}
