.book-cards {
    grid-template-columns: 1fr;
}

.book-card {
    margin-top: 40px;
    background-color: #fff;
    height: 270px;
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0 0 20px 20px;
    color: var(--body-color-light);
}

.content-wrapper {
    display: flex;
    border-bottom: 1px solid #ebedef;
    // position: relative;
    // &:before {
    //  content: "";
    //  position: absolute;
    //  background-color: #8f98a9;
    //  background-color: #aaaebc;
    //  box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
    //  width: 4px;
    //  height: 4px;
    //  border: 0;
    //  padding: 0;
    //  right: 12px;
    //  top: 17px;
    //  border-radius: 50%;
    //  margin-left: auto; 
    // }
}

.book-card-img {
    width: 200px;
    margin-top: -35px;
    margin-right: 25px;
    border-radius: 2px;
    box-shadow: 0px 1px 7px 2px #c7c9d3;
    border-bottom: 1px solid #dcddde;
    object-fit: cover;
    margin-bottom: 20px;
    transition: .3s ease;
    &:hover {
     transform: scale(1.04);
    }
}

.card-content {
    color: var(--body-color);
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.book-name {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
   
.book-by {
    font-size: 13px;
    color: var(--body-color-light);
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book-sum {
    margin-top: 20px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-sum {
    color: var(--body-color-light);
    font-size: 13px;
    line-height: 1.6em;
    -webkit-line-clamp: 4;
    margin-top: 15px;
}

.button {
    background-color: #10d1a5;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 16px 20px;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 3px;
    margin-top: 110px;
    margin-left: 9px;
  
    &:hover {
      background-color: #efefef;
      color: #10d1a5;
      cursor: pointer;
    }
  }

